
// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html,
  body{
    overflow-x:hidden;
  }

.fa.intro{
  color: rgb(82, 82, 82);
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.2);
    color: hsl(219, 70%, 76%);
  }
}
.exp-title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    }
.tag {
  color: black !important;
}

.card {
  height: 100%;
}
.media-content .title {
  line-height: unset;
 }

.button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a.button:hover {
  text-decoration: none;
}

.ocaml {
  background-color: hsl(216, 67%, 76%);
}

.react {
  background-color: hsl(251, 67%, 80%);
}

.typescript{
  background-color: hsl(216, 67%, 76%);
}

.java {
  background-color: hsl(120, 68%, 79%);
}

.cpp {
  background-color: hsl(358, 100%, 86%);
}

.python {
  background-color: hsl(251, 67%, 80%);
}

.php {
  background-color: hsl(188, 50%, 70%);
}

.sql {
  background-color: hsl(46, 100%, 86%);
}
.language {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
}

.offset {
  border: 2px solid  hsl(219, 70%, 86%);
  transition: all 0.1s ease-in-out;
  
  // transition-delay: 70ms;
  box-shadow: .4em .3em 0 0 hsl(219, 70%, 86%);
  &:hover {
    // box-shadow: 0 0 0 0;
    // transform: translate(-.4em, -.3em);
    // transition-delay: 0s;
  }
}

.toggle {
  font-size: min(24px,  4.5vw); 
  font-weight: bold; 
  max-width: 20em;
  color: rgb(0, 0, 0);
  &:hover {
    border: 2px solid  hsl(219, 70%, 86%);
    transition: all 0.02s ease-in;
    // color: black;
    // transition-delay: 70ms;
    box-shadow: .1em .1em 0 0 hsl(219, 70%, 86%);
    cursor: pointer;
  }
}
.scroll {
  font-size: min(24px,  4.5vw); 
  font-weight: bold; 
  max-width: 20em;
  color: rgb(0, 0, 0);
  border: 2px solid  hsl(219, 70%, 86%);
  -moz-border-radius:70px;
  -webkit-border-radius: 70px;
  box-shadow: .1em .1em 0 0 hsl(219, 70%, 86%);
  &:hover {
    transition: all 0.02s ease-in;
    background-color: hsl(219, 70%, 98%);
    cursor: default;
    // color: black;
    // transition-delay: 70ms;
  }
}
.is-dynamic-medium {
  font-size: min(1rem, 2vw) !important;
}

.active.toggle {
  background-color: hsl(219, 70%, 98%);
  border: 2px solid  hsl(219, 70%, 86%);
  // transition: all 0.1s ease-in-out;
  color: black;
  // transition-delay: 70ms;
  box-shadow: .1em .1em 0 0 hsl(219, 70%, 86%);
  // &:hover {
    // box-shadow: 0 0 0 0;
    // transform: translate(-.4em, -.3em);
    // transition-delay: 0s;
  // }
}

.toggle-content {
  display: none !important;
}

.toggle-content.active {
  display:flex !important;
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }