---
layout: default
---
<section class="hero is-large">
  <div class="columns is-desktop is-vcentered is-multiline is-centered" style=" min-height: 93vh;">
    <div class="column is-1-desktop"></div>
    <div
      class="column is-6-desktop is-narrow is-vcentered is-centered has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
      {%- if page.intro -%}
      <h1 class="page-heading" style="font-size: 82px; font-weight: 700; padding-top: 20px">{{ page.intro }}</h1>
      <p style="font-size: 16pt">I'm a sophomore studying CS @ Cornell. <br>
        This website is a dumping ground for my projects and various other links.
      </p>
      {%- endif -%}
      {{ content }}
    </div>
    <div
      class="column is-4-desktop is-narrow is-vcentered is-centered has-text-centered-desktop has-text-centered-mobile has-text-centered-tablet">
      <span class="icon">
        <a href="/resume.pdf" aria-label="Resume"> <i class="fa intro fa-expand fa-file-text fa-2x"></i></a>
      </span>
      <span class="icon">
        <a href="https://github.com/vaishnavi17" aria-label="Github"><i class="fa intro fa-expand fa-github fa-2x"></i>
        </a>
      </span>

      <span class="icon">
        <a href="mailto:vg222@cornell.edu" aria-label="E-mail"><i class="fa intro fa-expand fa-envelope fa-2x"></i></a>
      </span>
      <span class="icon">
        <a href="https://www.linkedin.com/in/vaishnavi17/"><i class="fa intro fa-linkedin-square fa-expand fa-2x"
            aria-label="LinkedIn"></i></a>
      </span>
      <span class="icon">
        <a href="https://open.spotify.com/user/vaishnavii"><i class="fa intro fa-spotify fa-expand fa-2x"
            aria-label="Spotify"></i></a>
      </span>
    </div>
    <div class="column is-1-desktop "></div>
  </div>
</section>

<section class="hero is-large" style="min-height: 100vh">
  <div class="columns is-desktop is-multiline is-centered"
    style="padding-top: 1em;height: 100%; padding-left: 5%; padding-right: 5%">
    <div class="column is-vcentered is-8-desktop is-centered has-text-centered is-full">
      <div style="font-size: 26pt; font-weight: bold;"> what i do</div>
      I'm a backend developer at
      <!-- <span class="icon abt">
        <i class="fa fa-spotify"></i></span> -->

      {%- include dti.html -%}
      <a href="https://www.cornelldti.org/">
        Cornell
        Design & Tech Initiative</a>, working on
      <a href="https://www.cornelldti.org/projects/flux/">Flux</a>. Currently,
      I'm also interning as an undergraduate researcher at <a href="https://www.maizegenetics.net/">Buckler
        Lab</a>, working to write fast (and
      statically typed!) genetic analysis tools in Kotlin. I'm also a teaching assistant for <a
        href="http://www.cs.cornell.edu/courses/cs2802/2020sp/">Honors
        Discrete Math</a> at Cornell.
      Besides that, here's some stuff I've made.
    </div>
  </div>
  <div class="columns is-mobile is-multiline is-centered" style="padding-bottom: 3em; height: 100%">
    <div class="column is-10-mobile is-8-tablet is-5-desktop is-vcentered is-centered has-text-left-desktop">
      <div class="card offset">
        <div class="card-content" style="height: 100%; display: flex;
        flex-flow: column;">
          <div class="media">
            <div class="media-content is-vcentered">
              <span class="title is-3 is-vcentered">PhyloML</span>
              <span class="is-vcentered" style="float: right">
                <a class="button is-link is-light is-rounded" href="https://github.com/vf-s/phyloML">Github</a>
                <a class="button is-link is-light is-rounded" href="https://vf-s.github.io/phylo-lib-web">Demo</a>
              </span>
            </div>
          </div>
          <div class="content" style="flex: 1 1 auto; margin-bottom: 0;">
            <p>A <a href="https://en.wikipedia.org/wiki/Phylogenetic_tree">phylogenetic tree </a>library for parsing
              species DNA sequences and generating most-likely phylogenetic
              trees (demoed using a shiny React frontend). The tree generation algorithms range from simple distance
              methods to Bayesian inference Markov Chain Monte
              Carlo methods.</p>
            <p>
              The library also provides heuristic multiple sequence alignment capabilities, ASCII-art
              representations of MSAs and phylogenetic trees, and functionality for parsing and writing to <a
                href="http://www.phyloxml.org/">PhyloXML</a>
              files.
            </p>

          </div>
          <div style="flex: 0 1 1em"><span class="language ocaml" style="margin-left: 0;"></span> OCaml
            <span class="language react"></span> React.js
            <span style="font-size: 11pt; font-weight: light; float:right">March 2020 - present</span></div>
        </div>
      </div>

    </div>

    <div class="column is-10-mobile is-8-tablet is-5-desktop is-vcentered is-centered has-text-left-desktop">
      <div class="card offset">
        <div class="card-content" style="height: 100%; display: flex;
        flex-flow: column;">
          <div class="media">
            <div class="media-content is-vcentered">
              <span class="title is-3 is-vcentered">Crunch</span>
              <span class="is-vcentered" style="float: right">
                <a class="button is-link is-light is-rounded" href="https://github.com/vaishnavi17/crunch">Github</a>
              </span>
            </div>
          </div>
          <div class="content" style="flex: 1 1 auto; margin-bottom: 0;">
            <p>A fast command line tool for lossless compression and decompression of files. The tool can be used on any
              filetype, however the levels of compression achieved vary. So far, I've implemented <a
                href="https://en.wikipedia.org/wiki/Huffman_coding">Huffman coding </a> and the <a
                href="https://en.wikipedia.org/wiki/Lempel–Ziv–Markov_chain_algorithm">Lempel–Ziv–Markov chain
                algorithm</a>.</p>
            <p>
              Implementing Huffman coding involved optimizing the storage size of the generated Huffman table, and
              implementing classes to read and write data from files bit-by-bit using a buffer.
            </p>

          </div>
          <div style="flex: 0 1 1em"><span class="language cpp" style="margin-left: 0;"></span> C++
            <span style="font-size: 11pt; font-weight: light; float:right">May 2020 - present</span></div>
        </div>
      </div>

    </div>

    <div class="column is-10-mobile is-8-tablet is-5-desktop is-vcentered is-centered has-text-left-desktop">
      <div class="card offset">
        <div class="card-content" style="height: 100%; display: flex;
        flex-flow: column;">
          <div class="media">
            <div class="media-content is-vcentered">
              <span class="title is-3 is-vcentered">Preventing ROP</span>
              <span class="is-vcentered" style="float: right">
                <a class="button is-link is-light is-rounded" href="https://pretermcare-eliminatingrop.com">Website</a>
              </span>
            </div>
          </div>
          <div class="content" style="flex: 1 1 auto; margin-bottom: 0;">
            <p>A responsive online learning platform consisting of modules regarding optimal neonatal care practices
              for
              preventing <a href="https://en.wikipedia.org/wiki/Retinopathy_of_prematurity">retinopathy of
                prematurity</a>. The modules consist of webinars, infographics and timed multiple choice tests users can
              take to get certified.</p>
            <p>
              So far, the modules have been used by over 10,000 medical professionals from across India and the
              Maldives.
              The platform is used as a crucial learning aid in training sessions at medical colleges.
            </p>

          </div>
          <div style="flex: 0 1 1em"><span class="language sql" style="margin-left: 0;"></span> MySQL
            <span class="language php"></span> PHP
            <span style="font-size: 11pt; font-weight: light; float:right">January 2018 - June 2019</span></div>
        </div>
      </div>

    </div>

    <div class="column is-10-mobile is-8-tablet is-5-desktop is-vcentered is-centered has-text-left-desktop">
      <div class="card offset">
        <div class="card-content" style="height: 100%; display: flex;
        flex-flow: column;">
          <div class="media">
            <div class="media-content is-vcentered">
              <span class="title is-3 is-vcentered">Critterworld</span>
              <span class="is-vcentered" style="float: right">
                <!-- <a class="button is-link is-light is-rounded" href="https://github.com/FelixHohne/phylo-lib">Github</a> -->
              </span>
            </div>
          </div>
          <div class="content" style="flex: 1 1 auto; margin-bottom: 0;">
            <p>A 10,000 line+ game consisting of programmable "critters" living in a world of hexagons. Designing the
              game involved:
            </p>
            <p>
              - Writing a parser from scratch for the critter language.
            </p>
            <p>
              - Implementing a GUI with fast panning and zooming designed to support very large worlds, and a
              mini-map.
            </p>
            <p>
              - Writing a thread-safe distributed implementation to allow multiple users to log on to a server and play
              on the same world.
            </p>

          </div>
          <div style="flex: 0 1 1em"><span class="language java" style="margin-left: 0;"></span> Java
            <span style="font-size: 11pt; font-weight: light; float:right">September 2019 - December 2020</span></div>
        </div>
      </div>
    </div>



  </div>

</section>





{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}


{%- if posts.size > 0 -%}
{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
<ul class="post-list">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}
  <li>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
    {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>

{% if site.paginate %}
<div class="pager">
  <ul class="pagination">
    {%- if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | relative_url }}"
        class="previous-page">{{ paginator.previous_page }}</a></li>
    {%- else %}
    <li>
      <div class="pager-edge">•</div>
    </li>
    {%- endif %}
    <li>
      <div class="current-page">{{ paginator.page }}</div>
    </li>
    {%- if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
    {%- else %}
    <li>
      <div class="pager-edge">•</div>
    </li>
    {%- endif %}
  </ul>
</div>
{%- endif %}

{%- endif -%}